body{
    background-color:#ededed;
    margin:0px;
    font-family:sans-serif;
    line-height:25px;
}

.header{
    margin:0px;
    padding-left:7px;
    padding-top:7px;
    background-color:#ee283b;
}

.logo {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    height:65px;
}

.app{
    padding:7px;
}

.loading{
    height:20px;
    width:100px;
    background-image: url('../img/loading.gif');
    background-repeat:no-repeat;
    margin:0 auto;
    margin-top:7px;
    margin-bottom:7px;
}

.login{
    margin:0 auto;
    width:250px;
    background-color:#fafafa;
    border:solid 1px #999999;
    border-radius:7px;
    padding:7px;
    clear:both;
}

label{
    display:block;
}

input{
    width:98%;
}

button{
    display:block;
}

.pull-right{
    float:right;
}