﻿
<div class="login">
    <form name="loginForm">
        <label for="emailInput">Email Address</label>
        <input type="email" ng-model="user.emailAddress" />

        <label for="emailInput">Password</label>
        <input type="password" ng-model="user.password" />

        <button ng-click="authenticateUser();">Login</button>
    </form>
</div>
<loading-indicator></loading-indicator>
