﻿<loading-indicator></loading-indicator>

<div ng-init="initialize()">
    <h3>Add InventoryItem</h3>
    <form name="addInventoryItemForm">
        <label>Category</label>
        <select ng-model="item.category" ng-options="category.name for category in serviceCategories track by category.id" autofocus>
            <option value="">--Please select a category--</option>
        </select>
        <label>Name</label>
        <input type="text" ng-model="item.name" required />

        <label>Description</label>
        <textarea ng-model="item.description"></textarea>

        <label>Minimum Age Restriction</label>
        <select ng-model="item.minimumAgeRestriction">
            <option value="0" selected="selected">No Age Restriction</option>
            <option value="18">18</option>
            <option value="21">21</option>
        </select>

        <label>Price (US Dollars)</label>
        <input type="number" ng-model="item.priceDollarsUs" required step="any" />

        <label>Number in Stock</label>
        <input type="number" ng-model="item.itemCount" required step="any"/>

        <button ng-click="addInventoryItem()" ng-disabled="addInventoryForm.$invalid">Add Item</button>
        <a href="#/providers/{{providerId}}">Cancel</a>
    </form>
</div>
