﻿<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="waitless">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/elements.css" />
        <link rel="stylesheet" type="text/css" href="css/templates.css" />
        <link rel="stylesheet" type="text/css" href="js/lib/jquery/jquery.jgrowl.css" />
        <meta name="msapplication-tap-highlight" content="no" />
        <title>waitless - move to the head of the line</title>
    </head>
    <body>
        <div class="header" ng-controller="headerController" ng-init="initialize()">
            <a href="#/serviceProviders">
                <div class="logo">
                </div>
            </a>
            <div class="menu">
                <ul>
                    <li><a class="margin-left" href="#/serviceProviders">Home</a></li>
                </ul>
                <ul ng-show="!userDataLoaded">
                    <li><a href="#/register">Register</a></li>
                    <li><a class="margin-left" href="#/reset">Reset Password</a></li>
                </ul>
                <ul ng-show="userDataLoaded">
                    <li><a class="margin-left" href="javascript:void(null);" ng-click="logOut()">Log Out</a></li>
                </ul>
                
            </div>
        </div>
        <div class="app block">
            <div ng-view>
            </div>
        </div>
        <script type="text/javascript" src="js/lib/base64.js"></script>
        <script type="text/javascript" src="js/lib/jquery/jquery-1.6.4.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery/jquery.jgrowl.min.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular-cookies.min.js"></script>
        <script type="text/javascript" src="js/app/waitless.js"></script>
        <script type="text/javascript" src="js/app/directives.js"></script>
        <script type="text/javascript" src="js/app/controllers/controllerBase.js"></script>
        <script type="text/javascript" src="js/app/controllers/headerController.js"></script>
        <script type="text/javascript" src="js/app/controllers/loginController.js"></script>
        <script type="text/javascript" src="js/app/controllers/account/registerController.js"></script>
        <script type="text/javascript" src="js/app/controllers/account/setPasswordController.js"></script>
        <script type="text/javascript" src="js/app/controllers/account/resetPasswordController.js"></script>
        <script type="text/javascript" src="js/app/controllers/providers/serviceProvidersController.js"></script>
        <script type="text/javascript" src="js/app/controllers/providers/addLocationController.js"></script>
        <script type="text/javascript" src="js/app/controllers/providers/editProviderController.js"></script>
        <script type="text/javascript" src="js/app/controllers/providers/providerDetailsController.js"></script>
        <script type="text/javascript" src="js/app/controllers/service/addInventoryItemController.js"></script>
        <script type="text/javascript" src="js/app/controllers/service/editInventoryItemController.js"></script>
        <script type="text/javascript" src="js/app/controllers/order/providerOrdersController.js"></script>
        <script type="text/javascript" src="js/app/controllers/order/orderDetailsController.js"></script>

        <script type="text/javascript" src="js/app/services/authServices.js"></script>
        <script type="text/javascript" src="js/app/services/configurationServices.js"></script>
        <script type="text/javascript" src="js/app/services/account/registrationServices.js"></script>
        <script type="text/javascript" src="js/app/services/account/userServices.js"></script>
        <script type="text/javascript" src="js/app/services/providers/serviceProviderServices.js"></script>
        <script type="text/javascript" src="js/app/services/service/serviceServices.js"></script>
        <script type="text/javascript" src="js/app/services/order/orderServices.js"></script>

        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="cordova.js"></script>

       

        <script type="text/javascript">
            document.addEventListener("deviceready", function () { cordovaApp.initialize(); }, false);
        </script>
    </body>
</html>
