﻿<loading-indicator></loading-indicator>

<div class="center">
    <form name="addLocationForm">
        <label>Name</label>
        <input type="text" required autofocus ng-model="provider.name" />

        <label>Phone Number</label>
        <input type="tel" ng-model="provider.phoneNumber" />

        <label>Address Line 1</label>
        <input type="text" ng-model="address.line1" />
        <label>Address Line 2</label>
        <input type="text" ng-model="address.line2" />

        <label>City</label>
        <input type="text" ng-model="address.city" />

        <label>Country</label>
        <select ng-model="address.country" ng-options="country as country for country in countries">
            <option value="">--Please select a country--</option>
        </select>
        
        <label>State</label>
        <select ng-model="address.state" ng-options="state as state for state in states">
            <option value="">--Please select a state--</option>
        </select>

        <button ng-click="addLocation()" ng-disabled="addLocationForm.$invalid">Add Location</button>
        <a href="#/serviceProviders">Cancel</a>
    </form>

</div>
