﻿<div class="center" ng-init="initialize()">
    <ul class="tab-menu">
        <li ng-class="{selected:tabIsSelected('info')}"><a href="javascript:void(null);" ng-click="selectTab('info');">Location  Info</a></li>
        <li ng-class="{selected:tabIsSelected('notifications')}"><a href="javascript:void(null);" ng-click="selectTab('notifications');">Notifications</a></li>
        <li ng-class="{selected:tabIsSelected('taxes')}"><a href="javascript:void(null);" ng-click="selectTab('taxes');">Taxes</a></li>
    </ul>
    <form name="updateLocationForm">
        <div class="content-container">
            <div>
                <div ng-include="'templates/providers/providerInfo.html'" ng-show="tabIsSelected('info')"></div>

                <div ng-include="'templates/providers/notifications.html'" ng-show="tabIsSelected('notifications')"></div>

                <div ng-include="'templates/providers/taxes.html'" ng-show="tabIsSelected('taxes')"></div>
            </div>

        </div>
        <div class="margined">
            <button ng-click="updateProvider()" ng-disabled="updateLocationForm.$invalid">Update Location</button>
            <a href="#/serviceProviders">Cancel</a>
        </div>
    </form>
</div>
