﻿<div>
    <h4>Order Notifications</h4>
    <a href="javascript:void(null);" ng-click="addNotification()">+ Add</a>
    <div ng-repeat="notification in provider.orderNotifications">
        <label>Type</label>
        <select ng-model="notification.notificationType">
            <option value="email">Email</option>
        </select>

        <label ng-show="notification.notificationType==='email'">Email Address</label>
        <label ng-show="notification.notificationType==='sms'">Mobile Phone Number</label>
        <input type="text" ng-model="notification.address" autofocus />

        <a href="javascript:void(null);" ng-click="removeNotification($index)">Remove</a>
    </div>

</div>
