﻿<div>
    <label>Name</label>
    <input type="text" required autofocus ng-model="provider.name" />

    <label>Phone Number</label>
    <input type="tel" ng-model="provider.phoneNumber" />

    <label>Address Line 1</label>
    <input type="text" ng-model="provider.location.line1" />
    <label>Address Line 2</label>
    <input type="text" ng-model="provider.location.line2" />

    <label>City</label>
    <input type="text" ng-model="provider.location.city" />

    <label>Country</label>
    <select ng-model="provider.location.country" ng-options="country as country for country in countries">
        <option value="">--Please select a country--</option>
    </select>

    <label>State</label>
    <select ng-model="provider.location.state" ng-options="state as state for state in states">
        <option value="">--Please select a state--</option>
    </select>
</div>
