﻿<div ng-init="initialize()" class="provider-details">
    <div>
        <a href='#/editServiceProvider/{{provider.id}}'>Edit</a></td>
        <h1>{{provider.name}}</h1>
        <h3>{{provider.createdDateTime | date:'shortDate'}}</h3>
        <h3>{{provider.location.line1}} {{provider.location.line2}}</h3>
        <h3>{{provider.location.city}}  {{provider.location.state}}</h3>
        <h3>{{provider.phoneNumber}}</h3>
        <a href='#/providers/{{provider.id}}/orders' class="btn">Orders</a></td>
    </div>
    <div>
        <h2>Inventory Items</h2>
        <a href='#/providers/{{provider.id}}/addInventoryItem' class="btn">Add Menu Item</a></td>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Minimum Age Restriction</th>
                    <th>Price (US Dollars)</th>
                    <th>Number In Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="providerInventoryItems.length === 0">
                    <td colspan="6">
                        No Menu Items were found.
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-repeat="item in providerInventoryItems">
                    <td>{{item.category.name}}</td>
                    <td>{{item.itemType.name}}</td>
                    <td>{{item.itemType.description}}</td>
                    <td>{{item.itemType.minimumAgeRestriction}}</td>
                    <td>{{item.itemType.priceDollarsUS | currency}}</td>
                    <td>{{item.itemCount}}</td>
                    <td><a href='#/providers/{{provider.id}}/inventoryItems/{{item.id}}/edit'>Edit</a></td>
                    <td><a href='javascript:void(null);' ng-click="delete(item)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


