﻿<loading-indicator></loading-indicator>

<div ng-init="initialize()" class="center block">
    <h3>Locations</h3>

    <a href="#/addLocation" class="btn">Add a Location</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created on</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="provider in providers">
                <td><a href='#/providers/{{provider.id}}'>{{provider.name}}</a></td>
                <td>{{provider.createdDateTime | date:'shortDate'}}</td>
                <td>{{provider.location.line1}} {{provider.location.line2}}</td>
                <td>{{provider.location.city}}</td>
                <td>{{provider.location.state}}</td>
                <td>{{provider.phoneNumber}}</td>
                <td><a href='javascript:void(null)' ng-click='edit(provider)'>Edit</a></td>
                <td><a href='javascript:void(null)' ng-click='delete(provider)'>Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
