﻿<div>
    <label>State Sales Tax %</label>
    <input type="number" ng-model="provider.stateSalesTaxPercentage" class="medium-input"/>

    <label>Local Sales Tax %</label>
    <input type="number" ng-model="provider.localSalesTaxPercentage" class="medium-input" />
</div>
