﻿<div>
    <p>
        You hve successfully registered you account!
    </p>
    <p>
        An email has been sent to the email address you registered with.  Once you receive the email, simply click on
        the link and set your password to start using waitless.
    </p>
    <p>
        Thank you for registering with us!  If you need any help or have any problems, please send us an email at support@waitless.mobi.
    </p>
    <p>Regards,</p>
    <p>The waitless team</p>
</div>
