﻿<div class="register">
    <form name="registerForm">
        <h3>Tell us a little bit about yourself</h3>

        <label>Company Name</label>
        <input type="text" ng-model="registrationInfo.name" autofocus required />

        <label>Email Address</label>
        <input type="email" ng-model="registrationInfo.emailAddress" required />

        <button ng-click="register();">Register</button>
    </form>
</div>
<loading-indicator></loading-indicator>
