﻿
<loading-indicator></loading-indicator>

<div class="login">
    <form name="resetPasswordForm">
        <label>Email Address</label>
        <input type="email" ng-model="emailAddress" required />

        <button ng-click="resetPassword();" ng-disabled="resetPasswordForm.$invalid">Reset Password</button>
    </form>
</div>
