﻿
<loading-indicator></loading-indicator>

<div ng-init="initialize()" ng-show="userData !== null" class="login">
    <form name="setPasswordForm">
        <label for="emailInput">Password</label>
        <input type="password" ng-model="password" autofocus required/>

        <label for="emailInput"> Confirm Password</label>
        <input type="password" ng-model="passwordConfirmation" required/>

        <button ng-click="setPassword();">Set Password and Login</button>
    </form>
</div>

