﻿<div ng-init="initialize()">
    <h3>Order Details</h3>
    <div>
        <h4>Order #: {{order.id | limitTo:8}}</h4>
        <label>Payment Confirmation: {{order.paymentConfirmation.confirmationToken}}</label>
        <label>Amount: {{order.totalDollarsUS | currency}}</label>
        <label>Date: {{order.createdDateTime | date:'MM/dd/yy'}}</label>
        <label>Time: {{order.createdDateTime | date:'hh:mm a'}}</label>
        <label>Status: {{order.status}}</label>
        <label>Phone Number: {{order.phoneNumber}}</label>
        <label>Name: {{order.requestorName}}</label>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Items</th>
                    <th colspan="2"># Items</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in order.serviceItems">
                    <td>{{item.name}}</td>
                    <td class="left">{{item.itemCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <label>Requests: {{order.requests}}</label>

    <div class="margined">
        <a class="btn" href="javascript:void(null);" ng-click="updateOrderStatus('ready')">Ready</a>
        <a class="btn" href="javascript:void(null);" ng-click="updateOrderStatus('delivered');">Delivered</a>
    </div>

</div>

<loading-indicator></loading-indicator>
