﻿<div ng-init="initialize()">
    <a href="#/providers/{{providerId}}" class="btn">Back</a>

    <table>
        <thead>
            <tr>
                <th>Order #</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders">
                <td><a href="#/providers/{{order.serviceProviderId}}/orders/{{order.id}}">{{order.id | limitTo:8}}</a></td>
                <td>{{order.totalDollarsUS | currency}}</td>
                <td>{{order.createdDateTime | date:'MM/dd/yy'}}</td>
                <td>{{order.createdDateTime | date:'hh:mm a'}}</td>
                <td>{{order.status}}</td>
                <th><a href="#/providers/{{order.serviceProviderId}}/orders/{{order.id}}">Details</a></th>
            </tr>
        </tbody>
    </table>
</div>

<loading-indicator></loading-indicator>

