﻿.tab-menu{

}

    .tab-menu ul
    {
        list-style:none;
        padding:0px;
        margin:0px;
    }

    .tab-menu li
    {
        display:inline;
        border:solid 1px #9a9a9a;
        margin:0;
        background-color:#ee283b;
        border-bottom:none;
        border-top-left-radius:7px;
        border-top-right-radius:7px;
        padding:7px;
        position:relative;
        top:1px;
    }

    .tab-menu .selected
    {
        background-color:#fff;
        position:relative;
        top:2px;
        z-index:999;
    }

    .tab-menu .selected a
    {
        color:#ee283b;
    }

        .tab-menu li a
        {
            padding:3px;
            text-decoration:none;
            color:#fff;
        }

        .tab-menu li a:hover
        {
            padding:3px;
            text-decoration:none;
            color:#ee283b;
        }

        .tab-menu li:hover
        {
             background-color:#fff;
        }

.content-container
{
    border:solid 1px #9a9a9a;
    border-radius:7px;
    padding:25px;
    width:400px;
    background-color:#fff;
    display:block;
    margin-top:-16px;
}